<div class = "row">
  <div class = "col-md-12" align = "center">
  <h1>Novo Carro</h1>
    <form>
      <div class = "input-group col-md-3">
        Placa: 
        <input type = "text" class = "form-control" ng-model = "dashboard.car.placa" aria-describedby="basic-addon1">
      </div>

      <div class = "input-group col-md-3">
        Marca: 
        <input type = "text" class = "form-control" ng-model = "dashboard.car.marca" aria-describedby="basic-addon1">
      </div>

      <div class = "input-group col-md-3">
        Modelo: 
        <input type = "text" class = "form-control" ng-model = "dashboard.car.modelo" aria-describedby="basic-addon1">
      </div>
      <button class="btn btn-default" ng-click="register()">cadastrar</button>
    </form>
  </div>
</div>